<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Students</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Homemade+Apple&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
  <style>
    * {
      background-color: rgb(75, 75, 75);
      font-family: "Roboto Mono", monospace;
      color: white;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li>a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <h1>All Students</h1>
  <ul>
    <% data.forEach(student=>{ %>
      <li>
        <span>#<%= student.id %></span>
        <a href="/student/<%= student.id %>">
          <%= student.name %>
        </a>｜

        <a href="/students/edit/<%= student.id %>">Edit</a>｜
        <a href="#" onclick="deleteStudent('<%= student.id %>')">Delete</a>
      </li>
      <% }) %>
  </ul>

  <a href="/student/insert">Insert a new student</a>

  <script>
    function deleteStudent(id) {
      fetch(`/students/delete/${id}`, {
        method: 'DELETE'
      })
        .then(res => res.text())
        .then(msg => {
          alert(msg)
          location.reload() // 刪除後重新載入頁面
        })
        .catch(err => console.error("刪除失敗", err))
    }
  </script>
</body>

</html>